In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/prohor/Workspace/pycharm_tmp/pycharm_project_597/storage/dataset/train_folds_no_prep.csv')
df

,Unnamed: 0,textID,text,selected_text,sentiment,kfold
0,0,6675f9536d,": Aww, that sux! _x3: Eeek for Airline charge...",that sux!,negative,0
1,1,7440e87ea2,O dear! HE`S HERE! OMGOGMGO.. U didn`t see th...,O dear! HE`S HERE! OMGOGMGO.. U didn`t see tha...,neutral,0
2,2,7d64708739,Um. Why can`t I write **** tonight? I like ***...,Um. Why can`t I write **** tonight? I like ***...,positive,0
3,3,8c4a57dd60,Special mention for the new Mean Girl ... welc...,Special mention for the new Mean Girl ... welc...,neutral,0
4,4,2f42dff0dd,school for a bit. glad jake got the day off,glad jake got the day off,positive,0
...,...,...,...,...,...,...
27476,27476,a77df4a95a,I`m still up! Thank you all for praying (: AHA...,I`m still up! Thank you all for praying (: AHA...,positive,4
27477,27477,9d263a3553,Dude I feel really bad but it doesn`t work. I...,I feel really bad,negative,4
27478,27478,b094214bd0,I like taking my dogs with me in the car when ...,They are always excited to go anywhere.,positive,4
27479,27479,ab174bf51d,odd i tried to call mitchel musso but it dosen...,odd i tried to call mitchel musso but it dosen...,negative,4
27480,27480,4bda359cbb,Done at the spa now meeting vic for some lat...,Done at the spa now meeting vic for some lat...,neutral,4

In [3]:
df.isnull().describe()

       Unnamed: 0 textID   text selected_text sentiment  kfold
count       27481  27481  27481         27481     27481  27481
unique          1      1      2             2         1      1
top         False  False  False         False     False  False
freq        27481  27481  27480         27480     27481  27481

In [4]:
df[df['selected_text'].isnull()]

       Unnamed: 0      textID text selected_text sentiment  kfold
16756       16756  fdb77c3752  NaN           NaN   neutral      3

In [5]:
df[df['text'].isnull()]

       Unnamed: 0      textID text selected_text sentiment  kfold
16756       16756  fdb77c3752  NaN           NaN   neutral      3

In [6]:
df = pd.DataFrame(df[df['text'].notnull()])

In [7]:
def adapt_text(text):
    text = text.replace('&', '&amp;')
    text = text.replace('\'', '&quot;')
    text = text.replace('<', '&lt;')
    text = text.replace('>', '&gt;')
    return text.replace('`', '\'')

In [8]:
df['selected_text'] = df['selected_text'].apply(adapt_text)
df['text'] = df['text'].apply(adapt_text)

In [9]:
df

,Unnamed: 0,textID,text,selected_text,sentiment,kfold
0,0,6675f9536d,": Aww, that sux! _x3: Eeek for Airline charge...",that sux!,negative,0
1,1,7440e87ea2,O dear! HE'S HERE! OMGOGMGO.. U didn't see th...,O dear! HE'S HERE! OMGOGMGO.. U didn't see tha...,neutral,0
2,2,7d64708739,Um. Why can't I write **** tonight? I like ***...,Um. Why can't I write **** tonight? I like ***...,positive,0
3,3,8c4a57dd60,Special mention for the new Mean Girl ... welc...,Special mention for the new Mean Girl ... welc...,neutral,0
4,4,2f42dff0dd,school for a bit. glad jake got the day off,glad jake got the day off,positive,0
...,...,...,...,...,...,...
27476,27476,a77df4a95a,I'm still up! Thank you all for praying (: AHA...,I'm still up! Thank you all for praying (: AHA...,positive,4
27477,27477,9d263a3553,Dude I feel really bad but it doesn't work. I...,I feel really bad,negative,4
27478,27478,b094214bd0,I like taking my dogs with me in the car when ...,They are always excited to go anywhere.,positive,4
27479,27479,ab174bf51d,odd i tried to call mitchel musso but it dosen...,odd i tried to call mitchel musso but it dosen...,negative,4
27480,27480,4bda359cbb,Done at the spa now meeting vic for some lat...,Done at the spa now meeting vic for some lat...,neutral,4

In [10]:
df.to_csv('/home/prohor/Workspace/pycharm_tmp/pycharm_project_597/storage/dataset/train_v0.csv')