In [1]:
import pandas as pd

In [35]:
df = pd.read_csv('/home/prohor/Workspace/pycharm_tmp/pycharm_project_597/storage/dataset/train.csv', encoding='utf-8')

In [36]:
df

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [37]:
df[df['textID'] == "c2c5b285b9"]

,textID,text,selected_text,sentiment
27087,c2c5b285b9,Shared Kim Hï¿½ltermand - Portfolio: Shared by...,honor,positive

In [46]:
row = df[df['textID'] == "c2c5b285b9"].iloc[0]
print(row['text'])
row['text'][13]

Shared Kim Hï¿½ltermand - Portfolio: Shared by Kaare Finally a dane  IÂ´ve got the honor to do the amazing.. http://tinyurl.com/coypsl

'¿'

In [47]:
def replace_non_ascii(text, mask='?'):
    return ''.join([i if ord(i) < 128 else mask for i in text])

In [54]:
df = df.dropna()

In [55]:
res_row = None
count_replaced = 0
for i in range(len(df)):
    row = df.iloc[i]
    selected_text = row['selected_text']
    text = row['text']
    if type(text) != str:
        print(text)
    if type(text) == str and replace_non_ascii(text) != text:
        count_replaced += 1
    assert selected_text in text
#     if type(text) == str and "Kaare" in text:
#         res_row = row
#         break
res_row
count_replaced

156

In [50]:
df.shape

(27481, 4)

In [8]:
res_row['text']

' SCREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM - never freu you zu frï¿½h'

In [27]:
a = res_row['text']

In [28]:
a

'Shared Kim Hï¿½ltermand - Portfolio: Shared by Kaare Finally a dane  IÂ´ve got the honor to do the amazing.. http://tinyurl.com/coypsl'

In [30]:
b = a.encode('utf-8')
b

b'Shared Kim H\xc3\xaf\xc2\xbf\xc2\xbdltermand - Portfolio: Shared by Kaare Finally a dane  I\xc3\x82\xc2\xb4ve got the honor to do the amazing.. http://tinyurl.com/coypsl'

In [31]:
b.decode('utf-8')

'Shared Kim Hï¿½ltermand - Portfolio: Shared by Kaare Finally a dane  IÂ´ve got the honor to do the amazing.. http://tinyurl.com/coypsl'

In [32]:
for c in a:
    print(c)

S
h
a
r
e
d

K
i
m

H
ï
¿
½
l
t
e
r
m
a
n
d

-

P
o
r
t
f
o
l
i
o
:

S
h
a
r
e
d

b
y

K
a
a
r
e

F
i
n
a
l
l
y

a

d
a
n
e


I
Â
´
v
e

g
o
t

t
h
e

h
o
n
o
r

t
o

d
o

t
h
e

a
m
a
z
i
n
g
.
.

h
t
t
p
:
/
/
t
i
n
y
u
r
l
.
c
o
m
/
c
o
y
p
s
l